<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/flex.css" media="all">
    <title>Document</title>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" action="" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <label class="layui-form-label">负责人</label>
                        <div class="layui-input-block wid_290">
                            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入负责人" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-block wid_290">
                            <input type="number" name="phone" lay-verify="required" autocomplete="off" maxlength="11" placeholder="请输入联系方式" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label col-xs-3">请输入商家图片</label>
                        <div class="layui-input-block">
                            <div class="G-upload-con" data-limitnum="5" data-limitsize="5" data-name="image[]" flex="cross:bottom">
                                <div class="G-img-add G-upload-file ml0">
                                    <span class="G-img-icon">+</span>
                                    <input type="file" class="choice-file" data-name="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">地址</label>
                        <div class="layui-input-block wid_290">
                            <input type="text" name="address" lay-verify="required" autocomplete="off" placeholder="请输入商家地址" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label col-xs-3">请上传营业执照图片</label>
                        <div class="layui-input-block">
                            <div class="G-upload-con" data-limitnum="5" data-limitsize="5" data-name="image[]" flex="cross:bottom">
                                <div class="G-img-add G-upload-file ml0">
                                    <span class="G-img-icon">+</span>
                                    <input type="file" class="choice-file" data-name="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">身份证信息</label>
                        <div class="layui-input-block wid_290">
                            <input type="text" name="address" lay-verify="required" autocomplete="off" placeholder="请输入身份证信息" class="layui-input">
                        </div>
                    </div>
                    <!-- editor -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">编辑器</label>
                        <div class="layui-input-block">
                            <textarea name="" id="editor" cols="110" rows="100" style="height: 300px;"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所在区域</label>
                        <div class="layui-input-block wid_290">
                            <select name="area" lay-verify="required">
                                <option value=""></option>
                                <option value="1">北京</option>
                                <option value="0">上海</option>
                              </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商家状态</label>
                        <div class="layui-input-block">
                          <input type="radio" name="news" value="0" title="开启" checked>
                          <input type="radio" name="news" value="1" title="关闭">
                        </div>
                    </div>
                    <input type="hidden" class="content" value="">
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <div class="layui-footer" style="left: 0;z-index:9999">
                            <button type="button" class="layui-btn" lay-submit="" lay-filter="layui-form-submit">立即提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../../layuiadmin/layui/layui.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="../../ueditor/lang/zh-cn/zh-cn.js"> </script>
    <script src="../../layuiadmin/modules/admin.js"></script>
        <script>
            layui.config({
                base: '../../layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index','uploadAlone','form','message','laydate'],function(){
                var $ = layui.$,
                form = layui.form,
                laydate = layui.laydate
                message = layui.message;
                laydate.render({
                    elem: '#test-laydate-type-datetime'
                    ,type: 'date'
                });
                let content = $(".content").val();
                console.log(content == '',typeof content);
                
                if($(".content").val() != ''){
                    admin.formVal('component-form-group','/store/get/details?id='+content);
                }
                form.on('submit(layui-form-submit)', function(data){
                    var field = data.field; //获取提交的字段
                    // 提交 Ajax 成功后，关闭当前弹层并重载表格
                    var arrList = [];
                    for(var i = 0; i < $("input[type='hidden']").length; i++){
                        arrList.push($("input[type='hidden']").eq(i).val());
                    }
                    field.image = arrList;
                    var url = ''
                    $('.content').val() == '' ? url = '/store/create/details' : url = '/store/update/details?id=' +$(".content").val()
                    admin.formSubmit(url,field);
                    
                });
                $('#editor').each(function(e,i){
                    var _thisId = $(this).attr('id');
                    if(_thisId){
                        var ue = UE.getEditor(_thisId);
                        ue.execCommand('serverparam','_token',$('meta[name="csrf_token"]').attr('content'));
                    }
                });
            });
        </script>
</body>
</html>